<div class="bc-img">

</div>
<div class="regiser-form-div">
    <div class="logo-img">

    </div>
    <div class="registration-form">
        <h1>Sing up as</h1>
        <div class="all-form-div">
            <div class="btns-div">
                <button style="border: 1px solid;"><i class="fas fa-user"></i> Customer</button>
                <button style=" background: #0978be;
                color: white;"><i class="fas fa-shopping-cart"></i>Seller</button>
            </div>

            <div class="customer-form">
                <form action="">
                    <div>
                        <p>Name*</p>
                        <input type="text" name="" id="">
                    </div>
                    <div>
                        <p>Nick name*</p>
                        <input type="text" name="" id="">
                    </div>
                    <div>
                        <p>User name*</p>
                        <input type="text" name="" id="">
                    </div>
                    <div>
                        <p>Store name*</p>
                        <input type="text" name="" id="">
                    </div>
                    <div>
                        <p>Activity</p>
                        <div class="select">
                            <select>
                                <option>Pharmancy</option>
                                <option>Trains</option>
                                <option>Automobiles</option>
                            </select>
                        </div>
                    </div>
                    <div>
                        <p>Vendro No.</p>
                        <input type="text">
                    </div>
                    <div>
                        <p>Email*</p>
                        <input type="text" placeholder="username@gmail.com">
                    </div>
                    <div>
                        <p>Password*</p>
                        <input type="text" placeholder="*****************">
                    </div>
                    <div>
                        <p>Country*</p>
                        <div class="select">
                            <select>
                                <option>Libya</option>
                                <option>Turkey</option>
                                <option>Russia</option>
                            </select>
                        </div>
                    </div>
                    <div>
                        <p>City*</p>
                        <div class="select">
                            <select>
                                <option>Planes</option>
                                <option>Trains</option>
                                <option>Automobiles</option>
                            </select>
                        </div>

                    </div>
                    <div>
                        <p>Region*</p>
                        <div class="select">
                            <select placeholder="Chose region">
                                <option>Planes</option>
                                <option>Trains</option>
                                <option>Automobiles</option>
                            </select>
                        </div>
                    </div>
                    <div>
                        <p>Addres</p>
                        <input type="text" name="" id="">
                    </div>
                    <div>
                        <p>Payment method</p>
                        <div class="select">
                            <select type="text" name="" id="">
                                <option>Planes</option>
                                <option>Trains</option>
                                <option>Automobiles</option>
                            </select></div>
                    </div>
                    <div>
                        <p>Bank name</p>
                        <input type="text" name="" id="">
                    </div>
                    <div>
                        <p>Account owner name</p>
                        <input type="text" name="" id="">
                    </div>
                    <div>
                        <p>Account owner name</p>
                        <input type="text" name="" id="">
                    </div>
                    <div class="description-div">
                        <p>Description*</p>
                        <input type="text" name="" id="">
                    </div>
                </form>


            </div>
            <div class="accept-div">
                <input type="checkbox" name="" id="">
                <p>I accept the <a>Terms of use & Privacy policy</a></p>
            </div>
            <div class="regis-btn">

                <button (click)="goToJulma()">Register</button>

            </div>
            <div class="sing-in">
                <p>Do you have arleady account?<a routerLink="">Sing in</a> </p>
            </div>
        </div>
    </div>
</div>