<div class="body">
    <h4>Settings</h4>
    <div class="tabs-div">
        <mat-tab-group>
            <mat-tab label="Basic information">
                <ng-template matTabContent>
                    <app-settings-basic-information></app-settings-basic-information>
                </ng-template>
            </mat-tab>
            <mat-tab label="Payment methods">
                <ng-template matTabContent>
                    <app-settings-payment-methods></app-settings-payment-methods>
                </ng-template>
            </mat-tab>
            <mat-tab label="Users ">
                <ng-template matTabContent>
                    <app-settings-users></app-settings-users>
                </ng-template>
            </mat-tab>

            <mat-tab label="Currency ">
                <ng-template matTabContent>
                    <app-currency></app-currency>
                </ng-template>
            </mat-tab>
            <mat-tab label="Post paid ">
                <ng-template matTabContent>
                    <app-settings-post-paid></app-settings-post-paid>
                </ng-template>
            </mat-tab>
            <mat-tab label="Region">>
                <ng-template matTabContent>
                    <app-settings-region></app-settings-region>
                </ng-template>
            </mat-tab>
        </mat-tab-group>
    </div>



</div>