.body {
    height: 94%;
    width: 96%;
    margin: auto;
    margin-top: 3%;
}
h4 {
    color: #5c5cb9;
    font-weight: 700;
    font-size: 25px;
}
.notafication-div {
    margin-top: 40px;
    background-color: #fff;
    width: 635px;
    border-radius: 10px;
    box-shadow: 0px 1px 0px 0px #ebe9e9;
    .notafication-body-div {
        display: block;
    }
    h6 {
        font-size: 16px;
        font-weight: 600;
        color: #f15a63;
        margin: 0;
        padding: 20px 0px 0px 25px;
    }
    div {
        display: flex;
        width: 620px;
        margin-top: 30px;
        margin-bottom: 20px;
        border-bottom: 2px solid #f9fafa;
        i {
            color: #6c757d;
            font-size: 16px;
            margin-left: 30px;
            margin-right: 50px;
        }
        .name-p {
            margin-right: 40px;
            font-weight: 600;
            min-width: 90px;
            max-width: 95px;
        }
        .text-p {
            font-size: 13px;
            font-weight: 500;
            color: #6c757d;
            margin-right: 50px;
            min-width: 290px;
            max-width: 300px;
        }
        .fa-trash-alt {
            cursor: pointer;
        }
    }
}
