<div class="body">
    <h4>Notification</h4>

    <div class="notafication-div">
        <h6>Today</h6>
        <div class="notafication-body-div">
            <div *ngFor="let notafication of notafications; let ind = index">
                <i class="fas fa-bell"></i>

                <p class="name-p">{{notafication.fullName}}</p>

                <div style="display: contents;">
                    <p class="text-p">{{notafication.message}}</p>

                </div>


                <i class="fas fa-trash-alt" (click)="removeNots(notafication)" style="margin-right: 0;"></i>

            </div>
        </div>

    </div>