<div class="body">
    <h4>Help us</h4>

    <div class="body-div">
        <h6>How can we help you today?<br>
            Ask us anithing!
        </h6>


        <div class="email">
            <p>Your email address</p>
            <input type="text" placeholder="user@gmail.com">
        </div>

        <br>
        <div class="decription">
            <p>Description</p>
            <textarea type="text" placeholder="Describe here your problem"></textarea>
        </div>



        <button>Submit</button>
    </div>
    <div class="bc-administrator">

    </div>

</div>