<div class="company-card-div">
    <i class="fas fa-edit"></i>
    <div class="company-card-data-div">
        <div class="img">

        </div>
        <div class="company-data">
            <h3>Company name</h3>
            <p style="font-size: 12px;
            color: #97a1a6;">user@gmail.com</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis fugit incidunt quo ut corrupti delectus
                aspernatur expedita praesentium dolorem alias!</p>

            <div>
                <i class="fas fa-map-marker-alt"></i>
                <p>Adress Adress Adress Adress Adress</p>
            </div>
            <div>
                <i class="far fa-calendar"></i>
                <p>Member since: Feb.12,2020</p>
            </div>
        </div>
    </div>
</div>