<div class="body-div">
    <div class="background">
        <!-- image -->
    </div>
    <div class="form-div">

        <img src="../../../assets/images/formlogo.png">


        <div class="formdiv-">
            <div class="form-text-div">
                <h1>Sing in to Jumax</h1>
                <p>Enter your detalis bellow</p>
            </div>
            <form [formGroup]="fullControl">
                <div class="form-group">
                    <label class="lable-div">Username or Email Address</label>
                    <input type="email" class="form-control" placeholder="username@gmail.ru"
                        formControlName="emailControl">
                </div>
                <div class="form-group">
                    <label class="lable-div">Password</label>
                    <a (click)="openDialog()">Forget password?</a>
                    <input type="password" class="form-control" placeholder="********************"
                        formControlName="nameControl">
                </div>
                <button type="submit" class="btn-sing-in" [disabled]="fullControl.invalid" (click)="singIn()">Sing
                    in</button>
                <div class="or-div">
                    <hr>
                    <p>Or</p>
                    <hr>
                </div>
                <div class="gt">
                    <a href="" class="a"><i class="fab fa-google"></i> Google</a>
                    <a href="" class="a"><i class="fab fa-twitter"></i> Twitter</a>
                </div>
            </form>

        </div>
        <p class="creat-an-account">Don't new an account yet? <a routerLink="register">Creat an account</a></p>
    </div>

</div>